@import "compass/css3";

body {
  background-color: #eee;
  font-family: Helvetica Neue, Arial, sans-serif;
}

 div#header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 10px;
  background-color: #1e1e1e;
  width: 100%;
}

div#navbar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;

  h1 {
    font-size: 34px;
    line-height: 40px;
    position: absolute;
    left: 0px;
    top: 8px;
   
    a {
      text-decoration: none;
      font-weight: bold;
      @include single-text-shadow(#fff, 3px, 3px, 0);
      color: #900;
      font-family: Helvetica, Arial, sans-serif;

      &:hover {
        color: #600;
      }
    }
  }

  h2 {
    color: #525252;
    font-size: 17px;
    position: absolute;
    top: 15px;
    left: 120px;
    font-weight: normal;
    @include single-text-shadow(#fff, 1px, 1px, 0);
  }

  p {
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin: 0 auto;
    width: 90%;
    color: #1e1e1e;
    
    a {
     text-decoration: none;
     color: #eee;
     text-shadow: none;
    } 
   }

  ul {
    position: absolute;
    left: -13px;
    top: 56px;

    li {
      display: inline;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 10px;
      
      &:hover {
        margin-top: 1px;
        }
    }
  }
}

div.wrapper {
  position: relative;
  width: 700px;
  margin: 0 auto;
}

div#main {
  color: #454545;
  width: 700px;
  position: relative;
  margin: 30px auto;
  padding: 30px;
  float: left;
  color: #454545;
  background-color: #fff;
  @include border-radius(10px);
  border: 1px solid #ccc;

  h3 {
    font-size: 20px;
    font-family: arial, serif;
    font-weight: normal;
    padding: 0px 10px;

    a {
      color: #666;
      text-decoration: none;

      &:hover {
        color: #888;
      }
    }
  }

  h4 {
    padding: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #999;
    display:inline;
    margin-left: 10px;
    padding: 3px 10px;
    @include border-radius(4px);
    font-size: 12px;
  }
  p {
    text-shadow: #fff 1px 1px 0;
    padding: 10px;
    color: #1e1e1e;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    img {
      margin: 20px auto 0px;
    }
  }

  a {
    color: #677F9A;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

div#other {
  float: left;
  width: 150px;
  margin: 40px 20px 10px 25px;
  min-height: 600px;
  
  h3 {
   color: #677f9a;
   padding: 25px;
   font-size: 16px;
   font-weight: normal;
   font-family: arial, serif;
  }
} 

code {
  background-color: #eee;
  width: auto;
  width: 650px;
  overflow: auto;
  border: 1px solid #bbb;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  color: #000;
  display:block
}

span.light {
  background-color: #eee;
  overflow: auto;
  padding: 5px 3px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  color: #000;
}
