/* line 3, main.scss */
body {
  background-color: #eee;
  font-family: Helvetica Neue, Arial, sans-serif;
}

/* line 8, main.scss */
div#header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 10px;
  background-color: #1e1e1e;
  width: 100%;
}

/* line 17, main.scss */
div#navbar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
}
/* line 24, main.scss */
div#navbar h1 {
  font-size: 34px;
  line-height: 40px;
  position: absolute;
  left: 0px;
  top: 8px;
}
/* line 31, main.scss */
div#navbar h1 a {
  text-decoration: none;
  font-weight: bold;
  text-shadow: white 3px 3px 0;
  color: #900;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 38, main.scss */
div#navbar h1 a:hover {
  color: #600;
}
/* line 44, main.scss */
div#navbar h2 {
  color: #525252;
  font-size: 17px;
  position: absolute;
  top: 15px;
  left: 120px;
  font-weight: normal;
  text-shadow: white 1px 1px 0;
}
/* line 54, main.scss */
div#navbar p {
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin: 0 auto;
  width: 90%;
  color: #1e1e1e;
}
/* line 64, main.scss */
div#navbar p a {
  text-decoration: none;
  color: #eee;
  text-shadow: none;
}
/* line 71, main.scss */
div#navbar ul {
  position: absolute;
  left: -13px;
  top: 56px;
}
/* line 76, main.scss */
div#navbar ul li {
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
}
/* line 82, main.scss */
div#navbar ul li:hover {
  margin-top: 1px;
}

/* line 89, main.scss */
div.wrapper {
  position: relative;
  width: 700px;
  margin: 0 auto;
}

/* line 95, main.scss */
div#main {
  color: #454545;
  width: 700px;
  position: relative;
  margin: 30px auto;
  padding: 30px;
  float: left;
  color: #454545;
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
/* line 107, main.scss */
div#main h3 {
  font-size: 20px;
  font-family: arial, serif;
  font-weight: normal;
  padding: 0px 10px;
}
/* line 113, main.scss */
div#main h3 a {
  color: #666;
  text-decoration: none;
}
/* line 117, main.scss */
div#main h3 a:hover {
  color: #888;
}
/* line 123, main.scss */
div#main h4 {
  padding: 10px;
  color: #fff;
  font-weight: bold;
  background-color: #999;
  display: inline;
  margin-left: 10px;
  padding: 3px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
}
/* line 134, main.scss */
div#main p {
  text-shadow: #fff 1px 1px 0;
  padding: 10px;
  color: #1e1e1e;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
/* line 142, main.scss */
div#main p img {
  margin: 20px auto 0px;
}
/* line 147, main.scss */
div#main a {
  color: #677F9A;
  text-decoration: none;
}
/* line 151, main.scss */
div#main a:hover {
  text-decoration: underline;
}

/* line 157, main.scss */
div#other {
  float: left;
  width: 150px;
  margin: 40px 20px 10px 25px;
  min-height: 600px;
}
/* line 163, main.scss */
div#other h3 {
  color: #677f9a;
  padding: 25px;
  font-size: 16px;
  font-weight: normal;
  font-family: arial, serif;
}

/* line 172, main.scss */
code {
  background-color: #eee;
  width: auto;
  width: 650px;
  overflow: auto;
  border: 1px solid #bbb;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  color: #000;
  display: block;
}

/* line 186, main.scss */
span.light {
  background-color: #eee;
  overflow: auto;
  padding: 5px 3px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  color: #000;
}
