@charset "UTF-8";
/* line 3, main.scss */
body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 8, main.scss */
div#header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #282828;
  width: 100%;
}

/* line 18, main.scss */
div#sidebar {
  position: fixed;
  top: 11px;
  left: 0px;
  background-color: #425060;
  background: url(../images/sidebar.png);
  background-repeat: repeat-y;
  width: 300px;
  height: 100%;
  border-right: 1px solid #282828;
}
/* line 29, main.scss */
div#sidebar h1 {
  padding: 40px 10px 10px 0px;
  font-size: 25px;
  line-height: 40px;
  text-align: justify;
  margin-left: 20px;
  width: 80%;
  color: #eee;
}
/* line 38, main.scss */
div#sidebar h1 a {
  text-decoration: none;
  color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  text-shadow: #333333 -1px -1px 0;
}
/* line 47, main.scss */
div#sidebar h2 {
  padding: 0px 80px 30px 20px;
  color: #1e1e1e;
  text-align: right;
  font-size: 25px;
  font-weight: normal;
  text-shadow: #677f9a 1px 1px 0;
}
/* line 56, main.scss */
div#sidebar p {
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  margin: 0 auto;
  width: 90%;
  color: #1e1e1e;
  text-shadow: #677f9a 1px 1px 0;
}
/* line 67, main.scss */
div#sidebar p a {
  text-decoration: none;
  color: #eee;
  text-shadow: none;
}
/* line 73, main.scss */
div#sidebar ul {
  padding: 10px;
  background-color: #1e1e1e;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
/* line 80, main.scss */
div#sidebar ul li {
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
}
/* line 86, main.scss */
div#sidebar ul li:hover {
  margin-top: 1px;
}

/* line 93, main.scss */
div.wrapper {
  width: 960px;
  margin-left: 325px;
}

/* line 98, main.scss */
div#main {
  color: #454545;
  width: 700px;
  float: left;
  color: #454545;
}
/* line 104, main.scss */
div#main h3 {
  font-size: 35px;
  font-family: arial, serif;
  font-weight: normal;
  padding: 40px 10px 0px;
}
/* line 110, main.scss */
div#main h3 a {
  color: #677f9a;
  text-decoration: none;
}
/* line 114, main.scss */
div#main h3 a:hover {
  color: #718fb0;
}
/* line 120, main.scss */
div#main h4 {
  padding: 10px;
  color: #1e1e1e;
  font-weight: normal;
  font-size: 12px;
  border-bottom: 1px solid #707070;
}
/* line 127, main.scss */
div#main p {
  text-shadow: #F2F2F2 1px 1px 0;
  padding: 10px;
  color: #454545;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
/* line 135, main.scss */
div#main a {
  color: #677F9A;
  text-decoration: none;
}
/* line 139, main.scss */
div#main a:hover {
  text-decoration: underline;
}

/* line 145, main.scss */
div#other {
  float: left;
  width: 200px;
  margin: 40px 20px 10px 25px;
  min-height: 600px;
  border-left: 1px solid #707070;
}
/* line 152, main.scss */
div#other h3 {
  color: #677f9a;
  padding: 25px;
  font-size: 16px;
  font-weight: normal;
  font-family: arial, serif;
}
