/* line 3, main.scss */
body {
  font-family: 'Josefin Sans', sans-serif;
}

/* line 7, main.scss */
div.all {
  background: #333;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

/* line 17, main.scss */
div#navbar {
  position: relative;
  top: 0px;
  left: 0px;
  height: 150px;
}
/* line 23, main.scss */
div#navbar h1 {
  font-size: 35px;
  line-height: 40px;
  padding-top: 40px;
  margin-left: -80px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}
/* line 33, main.scss */
div#navbar h1 img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
/* line 40, main.scss */
div#navbar h1 a {
  text-decoration: none;
  text-shadow: #444444 1px 1px 1px;
  color: #C75233;
  display: inline-block;
  vertical-align: middle;
  padding-top: 7px;
}
/* line 50, main.scss */
div#navbar hr {
  background: #666;
  border: 0;
  border-top: 1px solid #222;
  height: 1px;
}
/* line 57, main.scss */
div#navbar ul {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
/* line 62, main.scss */
div#navbar ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  display: inline;
}
/* line 68, main.scss */
div#navbar ul li:hover {
  margin-top: 1px;
}

/* line 75, main.scss */
div.wrapper {
  position: relative;
  width: 650px;
  margin: 0 auto;
}

/* line 81, main.scss */
div#main {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 50px;
  position: relative;
}
/* line 87, main.scss */
div#main h3 {
  width: 80%;
  font-size: 28px;
  color: #333;
  font-size: 700;
}
/* line 93, main.scss */
div#main h3 a {
  color: #333;
  text-decoration: none;
}
/* line 99, main.scss */
div#main h4 {
  padding: 10px;
  color: #fff0ff;
  font-weight: normal;
  font-size: 12px;
}
/* line 106, main.scss */
div#main .date {
  background-color: #C75233;
  padding: 10px 20px;
  color: #fff;
  font-size: 17px;
  font-family: 'Arvo', Georgia, Times, serif;
  position: absolute;
  top: 44px;
  right: -30px;
}
/* line 117, main.scss */
div#main p {
  padding: 10px;
  font-size: 20px;
  color: #444;
  line-height: 180%;
}
/* line 123, main.scss */
div#main p img {
  margin: 20px auto;
  max-width: 100%;
}
/* line 129, main.scss */
div#main a {
  color: #80BCA3;
  text-decoration: none;
}

/* line 135, main.scss */
div#other {
  float: left;
  width: 150px;
  margin: 40px 20px 10px 25px;
  min-height: 600px;
}
/* line 141, main.scss */
div#other h3 {
  color: #677f9a;
  padding: 25px;
  font-size: 16px;
  font-weight: normal;
  font-family: arial, serif;
}

/* line 150, main.scss */
code {
  background-color: #eee;
  width: auto;
  overflow: auto;
  border: 1px solid #bbb;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  color: #000;
  display: block;
}

/* line 163, main.scss */
span.light {
  background-color: #eee;
  overflow: auto;
  padding: 5px 3px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  color: #000;
}
