<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="James Johnson" />
    <meta name="title" content="{{ page.meta_title }}" />
    <meta property="og:title" content="{{ page.meta_title }}" />
    <meta property="og:type" content="{{ page.og_type }}" />
    <meta property="og:site_name" content="James Johnson" />
    <meta property="og:description" content="{{ page.meta_description }}" />

    <link href="/css/reset.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400, 600, 700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300, 400,700,600' rel='stylesheet' type='text/css'>
    <link href="/css/main.css" rel="stylesheet" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20082972-6']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
  </head>
  <body>
    <div class='nav'>
      <div class='fade'>
        <div class='j'>
          J
        </div>
        <h1>Blog</h1>
        <div class='clear'></div>
        <h2>James Johnson</h2>
        <p>I am a web developer and designer working in NYC. I have built apps working for <a href=''>Elm City Labs</a> and enjoy working on difficult problems. I graduated from Yale in 2009 and have previously worked at <a href=''>YouRenew.com</a>.</a></p>
        <span class='icons'>
          <a href='/rss.xml'><img src='images/rss.png' /></a>
          <a href='http://www.linkedin.com/in/jamesjohnsona'><img src='images/linkedin.png' /></a>
          <a href='https://foursquare.com/jamesjohnsona'><img src='images/4square.png' /></a>
          <a href='http://github.com/jamesjohnson'><img src='images/github.png' /></a>
          <a href='http://www.quora.com/James-Johnson'><img src='images/quora.png' /></a>
          <a href='http://twitter.com/jamesjohnsona'><img src='images/twitter.png' /></a>
          <a href='mailto:jamesjohnson11@gmail.com'><img src='images/email.png' /></a>
          <a href='javascript:alert("Please give me an invite! jamesjohnsona");'><img src='images/dribbble.png' /></a>
        </span>
      </div>
    </div>
      {{ content }}
  </body>
  <script>
    $(function() {
      $('.nav').delay(300).animate({
        width: '250px'
        }, 400, function() {
        $('.fade').animate({
          opacity: 1
        }, 500)
      });
      $('.main').delay(600).animate({
        opacity: 1
      }, 1100);
    });
  </script>
</html>
